<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			This page provides an overview of the API's of the services offered by OwnYourData. Click on the headings or listed items to view the associated API documentation with <a href="https://swagger.io" style="text-decoration: underline;">Swagger UI</a>.
		</div>
		<a href="/datavault/"><h3>Data Vault</h3></a>
		<p>The data vault is the central element for securley storing personal data with OwnYourData. The described API provides access to data, structures, and configurations for data sources and data processors. More information about the vault is available <a href="https://data-vault.eu/en">here</a>.</p>

		<a href="/notary/"><h3>Notary Service</h3></a>
		<p>The notary service provides a simple and secure way to protect data and documents. Using cryptographic methods and blockchain technology, information is secured anonymously, tamper-proof and legally binding. There is also a <a href="https://seal.ownyourdata.eu/en">comfortable website</a> for using the notary API.</p>
		<ul>
			<li><a href="/notary-sovrin/">Sovrin</a>: using the <a href="https://sovrin.org">Sovrin Blockchain</a> references to documents can be managed independently throughout the lifecycle</li>
		</ul>
		<a href="/semcon/"><h3>Semantic Containers</h3></a>
		<p>Semantic Containers enable the secure and traceable exchange of defined data on specified usage conditions between multiple parties. Detailed information about Semantic Containers is available <a href="https://www.ownyourdata.eu/en/semcon">here</a>.</p>
		<ul>
			<li><a href="/semcon-billing/">Billing</a>: service for the commercial exchange of data with the help of cryptocurrencies</li>
			<li><a href="/semcon-validation/">Validation</a>: service for validation of configuration, terms of use and data quality</li>
		</ul>
	</div>
</div>
<p>&nbsp;</p>