<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			Diese Seite bietet ein Übersicht über die API's der von OwnYourData angebotenen Dienste. Klicke auf die jeweiligen Überschriften oder die aufgezählten Elemente, um die zugehörige API-Dokumentation mit <a href="https://swagger.io" style="text-decoration: underline;">Swagger UI</a> anzuzeigen.
		</div>
		<a href="/datavault/"><h3>Datentresor</h3></a>
		<p>Der Datentresor ist das zentrale Element zum Sichern von persönlichen Daten mit OwnYourData. Die beschriebene API bietet Zugriff auf Daten, Strukturen und Konfigurationen für Datenquellen und Auswertungen. Weitere Informationen zum Datentresor sind <a href="https://data-vault.eu/de">hier verfügbar</a>.</p>
		<a href="/notary/"><h3>Notariatsservice</h3></a>
		<p>Das Notariatsservice bietet eine einfaches und sicheres Verfahren zum Schutz von Daten und Dokumenten. Mithilfe von kryptographischen Verfahren und Blockchain-Technologie werden Informationen anonym, manipulationsgeschützt und rechtlich verbindlich abgesichert. Es existiert auch <a href="https://seal.ownyourdata.eu/de">eine komfortable Webseite</a> zur Nutzung der Notariats-API.</p>
		<ul>
			<li><a href="/notary-sovrin/">Sovrin</a>: mit Hilfe der <a href="https://sovrin.org">Sovrin-Blockchain</a> können Verweise auf Dokumente entlang des Lebenszyklus unabhängig verwaltet werden</li>
		</ul>
		<a href="/semcon/"><h3>Semantic Containers</h3></a>
		<p>Semantic Container ermöglichen den sicheren und verfolgbaren Austausch von definierten Daten zu festgelegten Nutzungsbedingungen zwischen mehreren Parteien. Detaillierte Informationen zu Semantic Container sind <a href="https://www.ownyourdata.eu/de/semcon">hier verfügbar</a>.</p>
		<ul>
			<li><a href="/semcon-billing/">Bezahldienst</a>: Service zum kommerziellen Austausch von Daten mit Hilfe von Kryptowährungen</li>
			<li><a href="/semcon-validation/">Validierungen</a>: Service zur Validierung von Konfiguration, Nutzungsbedingungen und Datenqualität</li>
		</ul>
	</div>
</div>
<p>&nbsp;</p>